.container {
    background: #000;
    display: flex;  
    width: 610px;
    height: 150px;
    margin: 0px auto;
    align-items: center;
}

.clock, .one, .two, .three, .four, .five, .six {
    color: white;
    font-size: 100px;
    top: 10px;
    padding-left: 20px;
}